---
---
<section id="about" class="bg-blue-800 text-white py-16">
    <div class="max-w-7xl mx-auto px-4">
      <h2 class="text-4xl font-bold mb-6">O nás</h2>
      <div class="space-y-4">
        <p class="text-lg">Superior Medical, založená v roce 2023, se specializuje na distribuci špičkových zdravotnických pomůcek pro obezitologii a gastroenterologii.</p>
        <p class="text-lg">Naším hlavním zaměřením jsou inovativní řešení pro léčbu nadváhy a obezity, včetně distribuce intragastrických balónů – moderního přístupu, který usnadňuje pacientům cestu k dlouhodobému zdraví.</p>
        <p class="text-lg">Spolupracujeme s předními světovými výrobci a zajišťujeme, aby naše produkty odpovídaly nejvyšším standardům kvality a bezpečnosti.</p>
        <p class="text-lg">Ve společnosti Superior Medical věříme, že inovativní technologie a profesionální přístup jsou klíčové k dosažení udržitelných výsledků.</p>
      </div>
    </div>
  </section>